.d-flex {
    text-align: right;
}

.btn-pink {
    color: blue;
    border-color: blue;
}

h1 {
    margin-left: 20rem;
    margin: 2rem;
}

.jeux {
    margin-left: 25rem;
    margin-top: 2rem;
    text-decoration: none;
    border: solid gray;
    padding: 1rem;
    margin-right: 25rem;
}

li {
    text-decoration: none;
}
a {
    text-decoration: none;
    color: black;
}

img {
    padding-bottom: 1rem;
    text-decoration: none;
}
