{% extends "layout.njk" %}

{% block content %}
<div class="fond">
    <h1 class="titre">Games</h1>

<div class = jeux>
    <ul>
        {% for game in games %}
        <li class="lineEnterGames">
            <img src="{{game.cover}}">
            <a href = "/games/{{game.slug}}">{{game.name}}
        </li>
        {% endfor %}
    </ul>
</div>
</div>


{% endblock %}