{% extends "layout.njk" %}

{% block content %}
<div class="fondDeSlug">
  <ul>
    <li class="gameslug">
       <img src="{{game.cover_url}}"> 
       <div class= "namejeu">{{game.name}}</div>
    </li>
  </ul>
  <p>
    {{game.summary}}
  </p>
</div>
{% endblock %}
