{% extends "layout.njk" %}

{% block content %}
<div class="fondnot">
    <p class="titrenot">Oops, on dirait que le jeu n'existe pas, retournez sur la page des <a class="titrenotfound" href = "/games/">Games</p>
</div>

<div class="gif"><iframe src="https://giphy.com/embed/mPytjcsG3XS4o" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/confused-lost-disney-mPytjcsG3XS4o"></a></p>

{% endblock %}