{% extends "layout.njk" %}

{% block content %}
<div class= "fond">
      <h1 class="titre">Platforms</h1>

      <div class="platforms">
            <ul>
                  {% for platform in platforms %}
                  <li class= "lineEnterPlatforms">
                        <img src="{{platform.cover}}">
                        <a class = "lienplatforms" href = "/platforms/{{platform.slug}}">{{platform.name}}</a>
                  </li>
                   {% endfor %}
            </ul>
      </div>
      
</div>


{% endblock %}