{% extends "layout.njk" %}

{% block content %}
<div class="fond">
    <h1 class="titre">Games</h1>

    <div class="platformSlug">
        <ul>
            {% for platform in gamesForPlatform %}
            <li class="lineEnterGames">
                <img src="{{platform.cover}}"><div class="namePlatform">{{platform.name}}</div>
            </li>
            {% endfor %}
        </ul>
    </div>
    
</div>


{% endblock %}